html,
body {
  width: 100%;
  height: 100%;
}
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
html {
  background: rgba(6, 15, 6);
}
body {
  color: #333;
  margin: 0;
  padding: 0;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(rgba(6, 15, 6, 0.2), #060f06),
    url("./images/blackwhite.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  padding: 0;
}
.dark {
  background-color: rgb(0, 0, 0, 0.6);
  position: relative;
  transition: 0.75s all linear;
  z-index: 9997;
}
.dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.75s all linear;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-image: url("/images/stars.jpg");
  z-index: -1;
  opacity: 0.5;
}
:root {
  --main-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0.25px 0 0.25px 0.25px rgba(255, 255, 255, 0.2),
    0 0.5px 0.5px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2),
    0 2px 2px rgba(255, 255, 255, 0.2), 0 4px 4px rgba(255, 255, 255, 0.2);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.header,
h2,
h1,
span {
  font-family: "Lustria", serif;
}
label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}
.carousel-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}
.carousel-container::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(100px);
  z-index: -1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
