html,
body {
  width: 100%;
  height: 100%;
}
* {
  font-family: "Lato", sans-serif;
}
html {
  background: rgba(6, 15, 6);
}
body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(rgba(6, 15, 6, 0.2), rgba(6, 15, 6)),
    url("./images/blackwhite.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
:root {
  --main-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.header,
h2,
h1,
span {
  font-family: "Lustria", serif;
}
label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
